<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Imagen</title>
</head>
<body>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>

    <br/>
    <br/>
    <br/>

    <!-- Arreglar que muestre los elementos con fotos aunque existan algunos que no tengan asociadas -->

        {% if img_obj %}
            <h1>Succesfully uploaded : {{ img_obj.name }}</h1>
            <img src="{{ img_obj.image.url }}" width="1000px" height="400px">
        {% endif %}
    
    <img src="{{ img.image.url }}">
    <!-- <img src="{% static 'test/45194087.jpg' %}" alt=""> -->

    <!-- <script src="../static/js/script.js"></script> -->
</body>
</html>
